---
import Markdown from '@astrojs/markdown-component'
import Layout from '../../layouts/Layout.astro'

---
<Layout title="Privacy policy | Liberluna">
  <div class="mx-10">
    <div class="text-5xl">Liberluna プライバシーポリシー</div>
    <div>
      <Markdown>
        ## 1. 定義
        - 「本サービス」とは、"liberluna.github.io"ドメインの下にある全てのページのことを指します。
        ## 2. 収集されるデータ
        本サービスを利用したことにより、収集されるデータには、以下のようなものがあります。
        - 本サービス内で、Google formsに送信されるプログラムが組み込まれたページ

        また、本サービスは、GitHub pagesを使用しています。
        そのため、IPアドレス、ユーザーエージェント、Cookieなどのリクエストからわかる情報が、GitHub社に収集される可能性があります。
        ## 3. データの利用
        データは、データを収集するページのその趣旨に従って利用されます。
        ## 4. Cookieについて
        本サービスでは、一切のCookieを使用しません。
        ## 改訂履歴
        - 2023-05-16 作成
      </Markdown>
    </div>
  </div>
</Layout>
<style>
h1 {
  font-size: 2em !important;
}
h2 {
  font-size: 1.5em !important;
}
h3 {
  font-size: 1.17em !important;
}
h4 {
  font-size: 1.00em !important;
}
h5 {
  font-size: 0.83em !important;
}
h6 {
  font-size: 0.67em !important;
}
ul{
  list-style-type: disc !important;
  margin-left: 1em !important;
}
p{
  margin: 1em 0 !important;
}
</style>
