---
import Markdown from '@astrojs/markdown-component'
import Layout from '../../layouts/Layout.astro'
---
<Layout title="Terms | Liberluna">
  <div class="mx-10">
    <div class="text-5xl">Liberluna 利用規約</div>
    <div>
      <Markdown>
## 1. 定義
- 「本サービス」とは、“liberluna.github.io”ドメインの下にある全てのページのことを指します。
- 「ユーザー」とは、本サービスにアクセスしている物を示します。
## 2. 利用規約について
### a. 利用規約の変更
本利用規約は、Liberlunaが、いつでも変更することができます。
### b. 利用規約の同意
本利用規約は、ユーザーが本サービスにアクセスし、使用したことにより同意されます。同意する意志を持たないユーザーは、本サービスの使用を停止してください。
## 3. 禁止事項
本サービスでは、次の行為を禁止します。
- 本利用規約を守らないこと。
- 本サービスを、犯罪行為に利用すること。
## 4. 免責事項
### a. 本サービス利用による責任
本サービスを利用することによって生じた、トラブルや問題に関して、Liberlunaは一切の責任を負いません。
### b. 本サービスの停止
Liberlunaは、本サービスをいつでも停止することができます。また、停止した場合や、停止された場合、Liberlunaは一切の責任を負わないものとします。
## 5. その他の事項
### a. 多言語との矛盾
本利用規約の日本語版と、日本語以外の利用規約が競合した場は、本利用規約の日本語版を適応することとします。
### b. 解釈
本利用規約は、日本法に基づき解釈されるものとします。
## 変更
- 2022-05-27+09:00 制定
      </Markdown>
    </div>
  </div>
</Layout>
<style>
h1 {
  font-size: 2em !important;
}
h2 {
  font-size: 1.5em !important;
}
h3 {
  font-size: 1.17em !important;
}
h4 {
  font-size: 1.00em !important;
}
h5 {
  font-size: 0.83em !important;
}
h6 {
  font-size: 0.67em !important;
}
ul{
  list-style-type: disc !important;
  margin-left: 1em !important;
}
p{
  margin: 1em 0 !important;
}
</style>
