---
import Layout from '../../layouts/Layout.astro';
---
<Layout title="LiberBlog">
  <div class="mx-10">
    <div class="text-xl">LiberBlog</div>
    <div>LiberlunaメンバーによるBlog</div>
    <div>Coming soon...</div>
  </div>
</Layout>
