---
import BlogPage from '../../../components/blog/page.astro'
import Layout from '../../../layouts/Layout.astro'
import tags from '../../../../datas/blog-tags.ts'

export const getStaticPaths = async () => {
  return tags.map((_,index) => ({
    params: { tag: String(index) }
  }))
}
const { tag } = Astro.params;
---
<Layout title="Tag">
  <div class="mx-10">
    <div class="text-xl">
      <span>タグ:</span>
      <span>{tags[tag]}</span>
      <span>のブログ</span>
    </div>
    <div>
    </div>
  </div>
</Layout>
