---
import TagPage from '../../../../components/blog/tag-page.astro'
import Layout from '../../../../layouts/Layout.astro'
import tags from '../../../../../datas/blog-tags.ts'

const { tag, page } = Astro.params;





export const getStaticPaths = async () => {
  const posts = (await Astro.glob('../../pages/blog/posts/*.md')).filter(post => {
    const tags = post.frontmatter.tags ? post.frontmatter.tags : []
    return tags.includes(parseInt(tag))
  })
  const max = Math.ceil(posts.length / 16)

  const result = []
  for(const pageIndex = 0; pageIndex !== max; pageIndex++){
    for(const tag of tags){
      result.push({
        params: {
          page: pageIndex+1,
          tag,
        }
      })
    }
  }
  return result
}
---
<Layout title="Tag">
  <div class="mx-10">
    <div class="text-xl">
      <span>タグ:</span>
      <span>{tags[tag]}</span>
      <span>のブログ</span>
    </div>
    <div>
      <TagPage tag={tag} page={1} />
    </div>
  </div>
</Layout>
