---
import Layout from '../layouts/Layout.astro'
---

<Layout title="403 Forbidden | Liberluna">
  <div class="mx-auto text-5xl mb-5">Sorry!</div>
  <div class="mx-auto text-4xl">403 Forbidden</div>
  <div class="mx-auto text-xl mt-10">
    このページにアクセスする権限がありません。
    開発中のページの可能性があります。
  </div>
</Layout>
