---
import joke404 from '../../assets/404-joke.jpg'
import Layout from '../layouts/Layout.astro'
---

<Layout title="404 Not found | Liberluna">
  <div class="mx-auto text-5xl">404</div>
  <div class="mx-auto text-xl">Not found</div><br/>
  <div class="mx-auto text-xl">電子の海を全力で捜索しましたが在りませんでした・・・</div>
  <div class="">
    <img src={joke404} class="w-96 mx-auto" />
    <div id="liberad" data-version="1.00" data-token="net717814" className="mx-auto"></div> <script src="https://liberad.deno.dev/api/LiberAD"></script>
</div>
  <div>

  </div>
</Layout>
