---
import Layout from '../layouts/Layout.astro'
---

<Layout title="404 Not found | Liberluna">
  <div class="mx-auto text-5xl">HogePage</div>
  <div class="mx-auto text-xl">このページは現在試験中、調整中、メンテナンス中の場合に表示されます。</div><br/>
　  <div class="">
    <img src={joke404} class="w-96 mx-auto" />
  </div>
  <div>

  </div>
</Layout>
