---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Liberluna">
	<main>
		<h1 class="">We are Liberluna</h1>
	</main>
</Layout>

<style>
	
</style>
