---
import Posts from '../components/blog/post-side.astro'
import LiberlunaLogo from '../../assets/liberluna-logo.svg'
import Layout from '../layouts/Layout.astro'

---

<Layout title="Liberluna">
  <main class="lg:mx-20 mx-10">
    <div>
      <div class="text-center">
        <img src={LiberlunaLogo} class="mx-auto" />
      </div>
      <div class="mx-auto text-center">We hack all...</div>
      <div class="text-center">
        Liberlunaは、主に学生の、ハッカーサークルです。
      </div>
    </div>
    <br />
         <div class="dev_fonts">
    <div>
      <div>
        <div class="text-xl text-left">特技を最大に</div>
        <div class="text-left">
          <div>
            Liberlunaのメンバーは、それぞれ、サイバーセキュリティからリバースエンジニアリング、<br/>
              Web開発からソフトウェア開発などの、多種多様のスキルを持っています。
          </div>
          <div>
            それらを活かし、開発を行なっています。
          </div>
        </div>
      </div>
      <br />
      <div class="text-right">
        <div class="text-xl">プライベートは、個人情報のみ</div>
        <div>
          <div>Liberlunaのプロジェクトは、ほぼ全てがOSSです。</div>
          <div>コードがオープンなことで、信頼性を高めます。</div>
          <div>コードはオープンですが、個人情報は守ります。<br/>プライベートは、個人情報のみ。</div>
        </div>
      </div>
      <br />
      <div class="text-left">
        <div class="text-xl">企業ですか？ No.</div>
        <div>
          <div>Liberlunaは、サークルです。</div>
          <div>そのため、お金儲けは第一ではありません。</div>
        </div>
      </div>
      <br />
      <div class="text-right">
        <div class="text-xl">最高の体験を</div>
        <div>
          <div>Liberlunaのサービスは、全ての不満や意見を受け付けます。</div>
          <div>ユーザーの声を聞き、改善し続けます。</div>
          <div>またOSSの場合、Pull Requestを提出することもできます。</div>
        </div>
      </div>
      <br />
      <div class="text-left">
        <div class="text-xl">Non-stop Development</div>
        <div>
          <div>Liberlunaの開発/活動は止まりません。</div>
          <div>メンバーがいなくならない限り</div>
        </div>
      </div>
      <div class="text-center">
        <div class="text-xl">月の公転もLiberlunaの開発も止まりません。</div>
      </div>
      <div>
        <div class="carousel rounded-box">
          <Posts n={8} />
        </div>
      </div>
    </div>
   </div>
  </main>
</Layout>

<style>
@media (max-width: 666px) { .dev_fonts { font-size: 12.5px; } }
</style>
