---
import TablerIcons from "./TablerIcons.astro"
---
<footer class="footer p-10 bg-neutral text-neutral-content">
  <div>
    <span class="footer-title">Links</span>
    <a class="link link-hover">利用規約</a>
    <a class="link link-hover">プライバシーポリシー</a>
  </div>
  <div>
    <span class="footer-title">Social</span> 
    <div class="grid grid-flow-col gap-4">
      <TablerIcons icon="brand-youtube">
    </div>
  </div>
</footer>