---
import TablerIcons from "./TablerIcons.astro"
---
<footer class="footer p-10 bg-neutral text-neutral-content mt-4">
  <div>
    <span class="footer-title">Links</span>
    <a class="link link-hover">利用規約</a>
    <a class="link link-hover" href="https://liberluna.github.io/policies/privacy_policy/">プライバシーポリシー</a>
  </div>
  <div>
    <span class="footer-title">About</span>
    <a class="link link-hover" href="/members">Members</a>
    <a class="link link-hover" href="/join_us">Join us</a>
    <a class="link link-hover" href="/projects">Projects</a>
    <a class="link link-hover" href="/blog">Blog</a>
  </div>
  <div>
    <span class="footer-title">Social</span> 
    <div class="grid grid-flow-col gap-4">
      <a href="https://twitter.com/Liberluna_Hack">
        <TablerIcons icon="brand-twitter">
      </a>
      <a href="https://www.youtube.com/channel/UC9TQpslkQY1nUGdre0G13MA" title="YouTube">
        <TablerIcons icon="brand-youtube">
      </a>
      <a href="https://discord.gg/sFRVbnRCQf" title="Discord">
        <TablerIcons icon="brand-discord">
      </a>
    </div>
  </div>
</footer>
