---
import Layout from '../../layouts/Layout.astro'
---
<Layout title="Members | Liberluna">
  <div class="mx-10">
    <div class="text-5xl">Liberluna メンバー募集要項</div>
    <div>
      
    </div>
  </div>
</Layout>