---
import Layout from '../../layouts/Layout.astro'
import Markdown from '@astrojs/markdown-component'

---
<Layout title="Members | Liberluna">
  <div class="mx-10">
    <div class="text-5xl">Liberluna メンバー募集要項</div>
    <div>
      <Markdown>
        ## 1. ボランティアであること
        Liberlunaのメンバーは、ボランティアであってください。
        Liberlunaに貢献したとしても、お金がもらえるわけではありません。
        Liberlunaは、あくまでも、サークルです。
        ## 2. 誰を募集するか
        Liberlunaに必要なのは、次のようなハッカーです。
        - コードを書くハッカー
        - Liberlunaに必要なものをデザイン/イラストするハッカー
        ## 3. 必要なスキル
        Liberlunaのメンバーになるための最低限必須のスキルです。
        ### i. Gitを使えること
        Git/GitHubを最低限使えることが必要です。
        - Commit/Pull/Push ができること
        - ブランチのMarge/作成/切り替えができること
        - Pull requestを書けること

        ただし、コードを書くなどをするためにLiberlunaに入ろうとしていない場合は、免除します。
        ### ii. Elementを使えること
        [Element](https://element.io)を使えることが必要です。
        メンバー同士の交流や連絡に使用します。
      </Markdown>
    </div>
  </div>
</Layout>
<style>
h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

h4 {
  font-size: 1.00em;
}

h5 {
  font-size: 0.83em;
}

h6 {
  font-size: 0.67em;
}

ul{
  list-style-type: disc;
  text-indent: 1em;
}
</style>