---
import Layout from '../../layouts/Layout.astro'
---
<Layout title="Members | Liberluna">
  <div class="mx-10">
    <div class="text-5xl">Join us</div>
    <div class="indent-4">Liberlunaに入りたいですか?</div>
    <form
      class="border p-4"
      action="https://docs.google.com/forms/u/0/d/e/1FAIpQLSfRQtYptq1fGnlbdyovIu1lMciZOaZAuldFJcXM51gAU9TKlw/formResponse"
      method="POST"
      target="hidden_iframe"
      onsubmit="submitted=true;">

      <div class="form-control">
        <label class="label">
          <span class="label-text">ニックネーム</span>
        </label>
        <label class="input-group">
          <span>Name</span>
          <input
            type="text"
            placeholder="Inta-netto No Kamisama"
            class="input input-bordered"
            autocomplete="name" 
            name="entry.1496900534"/>
        </label>
      </div>
      <div class="form-control">
        <label class="label">
          <span class="label-text">Your Email</span>
        </label>
        <label class="input-group">
          <span>Email</span>
          <input
            type="text"
            placeholder="your@example.com"
            class="input input-bordered"
            autocomplete="email" 
            name="entry.334713759"/>
        </label>
      </div>
      <div class="form-control">
        <label class="label">
          <span class="label-text">自己PR</span>
          <span class="label-text-alt">スキルなど</span>
        </label>
        <textarea class="textarea textarea-bordered h-24" placeholder="PR" name="entry.1046053211"></textarea>
      </div>
      <div>
        <input type="checkbox" required id="member-ok" class="checkbox" />
        <label for="member-ok">
          Liberlunaの
          <a href="/join_us/conditions" class="link">募集要項</a>
          に同意します。
        </label>
      </div>
      <input type="submit" value="送信!" class="btn btn-outline" />
    </form>
    <iframe
      name="hidden_iframe"
      id="hidden_iframe"
      style="display: none"
      onload="if(submitted){alert('回答を記録しました。');location.href='/'}"
    ></iframe>
  </div>
</Layout>
<script>
  let submitted = false;
</script>
