---
import { type Profile } from "./members.ts"
export interface Props {
  profile: Profile
}
const { profile } = Astro.props
---
<div class="card w-96 bg-base-100 shadow-xl">
  <figure class="px-10 pt-10">
    <img src={profile.icon} alt="Shoes" class="rounded-xl" />
  </figure>
  <div class="card-body items-center text-center">
    <h2 class="card-title">{profile.name}</h2>
    <p>{profile.descs.ja}</p>
  </div>
</div>