---
import Layout from '../../layouts/Layout.astro'
//取り敢えずハードコーディング

---
<Layout title="Projects | Liberluna">
  <div class="mx-10">
    <div class="text-xl text-center">Projects</div>
    <div class="w-screen flex flex-wrap">
  <div class="w-1/2">
    <a href="https://github.com/Liberluna/LunaNovaCSS" class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">LunaNovaCSS</h5>
      <p class="font-normal text-gray-700 dark:text-gray-400">JSでObjectをCSSに動的に変換する 新感覚のCSSフレームワーク</p> 
    </a>
  </div>
</div>
    <div>
  </div>
</Layout>
