---
import Layout from '../../layouts/Layout.astro'

interface Project {
  title: string
  desc: string
  link: string
  image?: string
}
const projects: Project[] = [
  {
    title: "LunaNovaCSS",
    desc: "JSでObjectをCSSに動的に変換する 新感覚のCSSフレームワーク",
    link: "https://github.com/Liberluna/LunaNovaCSS",
  },
  {
    title: "HackTo",
    desc: "あなたのハッキング能力を...",
    link: "",
  },
]
---
<Layout title="Projects | Liberluna">
  <div class="mx-10">
    <div class="text-3xl text-center mt-10 mb-10">Projects</div>
    <div>
      {
        projects.map( project => {
          return <a href={project.link} class="my-5">
            <div class="card card-side bg-base-100 shadow-xl">
              <figure><img src={project.img} alt="NO IMAGE"/></figure>
              <div class="card-body">
                <h2 class="card-title">{project.title}</h2>
                <p>{project.desc}</p>
              </div>
            </div>
          </a>
        })
      }
    </div>
  </div>
</Layout>
