---

export interface Props {
  page: number
}
const { page } = Astro.props

const posts = await Astro.glob('../../pages/blog/posts/*.md')
posts.reverse()

// 1ページスタート( 1page, 2page, 3page...)
const start = (page - 1) * 16 // 1ページあたり16Posts
const end   = page * 16
const viewPosts = posts.slice(start, end)
---
  <div class="mx-10">
    <div class="text-xl">LiberBlog</div>
    <div>LiberlunaメンバーによるBlog</div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
      {
        viewPosts.map(post => {
          return <div class="card bg-base-100 shadow-xl">
            <figure><img
              src={post.frontmatter.thumbnail}
              alt="No image"
              class=""/></figure>
            <div class="card-body">
              <h2 class="card-title">{post.frontmatter.title}</h2>
              <p>{post.frontmatter.desc}</p>
              <div class="card-actions justify-end">
                <a class="btn btn-primary" href={post.url}>See this post</a>
              </div>
            </div>
          </div>
        })
      }
    </div>
  </div>
