---
import noImage from '../../../assets/no-image.png'

export interface Props {
  n: number
}

const posts = await Astro.glob('../../pages/blog/posts/*.md')
posts.reverse()

const viewPosts = posts.slice(0, Astro.props.n)

const thumbnails = await import.meta.glob('../../../assets/thumbnails/*', { import: 'default' })
---
{viewPosts.map(async post => {
  const key = `../../../assets/thumbnails/${post.url.split("/").at(-1)}.png`
  let thumbnail: string
  if(post.frontmatter.thumbnail){
    thumbnail = post.frontmatter.thumbnail
  }else if(key in thumbnails){
    thumbnail = await thumbnails[key]()
  }else{
    thumbnail = noImage
  }
  return <div class="card bg-base-100 shadow-xl carousel-item w-1/2">
    <figure><img
      src={thumbnail}
      alt="No image"
      class=""/></figure>
    <div class="card-body">
      <h2 class="card-title">{post.frontmatter.title}</h2>
      <p>{post.frontmatter.desc}</p>
      <div class="card-actions justify-end">
        <a class="btn btn-primary" href={post.url}>See this post</a>
      </div>
    </div>
  </div>
})}
