---
export interface Props {
	title: string;
}

const { title } = Astro.props;

import LiberlunaLogo from "../../assets/liberluna-logo.svg"
---

<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="break-words">
		<div class="drawer">
			<input id="my-drawer-3" type="checkbox" class="drawer-toggle" /> 
			<div class="drawer-content flex flex-col">
				<div class="w-full navbar bg-base-100 sticky top-0 shadow-md opacity-90">
					<div class="flex-none lg:hidden">
						<label for="my-drawer-3" class="btn btn-square btn-ghost">
							<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-6 h-6 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path></svg>
						</label>
					</div> 
					<div class="flex-1 px-2 mx-2">
						<img src={LiberlunaLogo} alt="Liberluna" class="h-9" />
					</div>
					<div class="flex-none hidden lg:block">
						<ul class="menu menu-horizontal">
							<li><a href="/members">Members</a></li>
							<li><a href="/projects">Projects</a></li>
							<li><a href="/contact">Contact</a></li>
						</ul>
					</div>
				</div>
				<!-- Start page content -->
				<slot />
				<!-- End page content -->
			</div> 
			<div class="drawer-side">
				<label for="my-drawer-3" class="drawer-overlay"></label>
				<ul class="menu p-4 w-80 bg-base-100">
					<li><a href="/members">Members</a></li>
					<li><a href="/projects">Projects</a></li>
					<li><a href="/contact">Contact</a></li>					
				</ul>
			</div>
		</div>
	</body>
</html>
<style is:global>
	@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
	body{
		font-family: 'Noto Sans JP', sans-serif;
	}
</style>
